{% extends 'homebase.html' %}

{% block title %} About Us {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">PRODUCT LIST</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- ASIDE -->

				<!-- MAIN -->
				<div id="main" class="col-md-12">
					<!-- store top filter -->
					<div class="store-filter clearfix">
						<div class="pull-right">
							<nav aria-label="Page navigation example">
								<ul class="pagination pull-right">

									{% if orders.has_previous %}
									<li><a href="?page={{ orders.previous_page_number }}">&laquo;</a></li>
									{% else %}
									<li class="disabled"><span>&laquo;</span></li>
									{% endif %}

									{% if orders.number > 5 %}
									<li><a href="?page=1"><i>1</i></a></li>
									{% endif %}

									{% for i in orders.paginator.page_range %}
									{% if i > orders.number|add:"-5" %}
										{% if i < orders.number|add:"5" %}
											{% if orders.number == i %}
									<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
											{% else %}
									<li><a href="?page={{ i }}">{{ i }}</a></li>
											{% endif %}
										{% endif %}
									{% endif %}
									{% endfor %}

									{% if orders.number < orders.paginator.num_pages|add:"-5" %}
									<li><a href="?page={{ orders.paginator.num_pages }}"><i>{{ orders.paginator.num_pages }}</i></a></li>
									{% endif %}

									{% if orders.has_next %}
									<li><a href="?page={{ orders.next_page_number }}">&raquo;</a></li>
									{% else %}
									<li class="disabled"><span>&raquo;</span></li>
									{% endif %}
								</ul>
							</nav>
						</div>
					</div>
					<!-- /store top filter -->

					<!-- STORE -->
					<div id="store">
						<!-- row -->
						<div class="row">
							<div class="col-md-12">
							<div class="order-summary clearfix">
							<div class="section-title">
								<h3 class="title">PRODUCT LIST</h3>
							</div>
							<table class="shopping-cart-table table">
								<thead>
									<tr>
										<th>Product</th>
										<th>Title</th>
										<th class="text-center">Price</th>
										<th class="text-center">Quantity</th>
										<th class="text-right"></th>
									</tr>
								</thead>
								<tbody>
									{% for rs in orders%}
										<tr>
											<td class="thumb"><a href="/product/{{rs.id}}/{{rs.slug}}">
												<img src="{{ rs.image.url }}" alt="" style="height:60px">
											</a></td>
											<td class="details"> <a href="/product/{{rs.id}}/{{rs.slug}}">{{rs.title}}</a> </td>
											<td class="price text-center"><strong>{{rs.price}}</strong><br></td>
											<td class="qty text-center"><input class="input" type="number" value="1"></td>
											{% if rs.variant == 'None' %}
											<td class="text-right"><a href="/order/addtoshopcart/{{rs.id}}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</a></td>
											{% else %}
											<td class="text-right"><a href="/product/{{rs.id}}/{{rs.slug}}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Detail</a></td>
											{% endif %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

					</div>
						</div>
						<!-- /row -->
					</div>
					<!-- /STORE -->

					<!-- store bottom filter -->
					<div class="store-filter clearfix">
						<div class="pull-right">
							<ul class="store-pages">
								<li><span class="text-uppercase">Page:</span></li>
								<nav aria-label="Page navigation example">
								<ul class="pagination pull-right">

									{% if orders.has_previous %}
									<li><a href="?page={{ orders.previous_page_number }}">&laquo;</a></li>
									{% else %}
									<li class="disabled"><span>&laquo;</span></li>
									{% endif %}

									{% if orders.number > 5 %}
									<li><a href="?page=1"><i>1</i></a></li>
									{% endif %}

									{% for i in orders.paginator.page_range %}
									{% if i > orders.number|add:"-5" %}
										{% if i < orders.number|add:"5" %}
											{% if orders.number == i %}
									<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
											{% else %}
									<li><a href="?page={{ i }}">{{ i }}</a></li>
											{% endif %}
										{% endif %}
									{% endif %}
									{% endfor %}

									{% if orders.number < orders.paginator.num_pages|add:"-5" %}
									<li><a href="?page={{ orders.paginator.num_pages }}"><i>{{ orders.paginator.num_pages }}</i></a></li>
									{% endif %}

									{% if orders.has_next %}
									<li><a href="?page={{ orders.next_page_number }}">&raquo;</a></li>
									{% else %}
									<li class="disabled"><span>&raquo;</span></li>
									{% endif %}
								</ul>
							</nav>
							</ul>
						</div>
					</div>
					<!-- /store bottom filter -->
				</div>
				<!-- /MAIN -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
{% endblock %}